#
# see available options: pylint3 --generate-rcfile
#

[MASTER]

[MESSAGES CONTROL]
disable=missing-docstring,wrong-import-position,superfluous-parens

[REPORTS]
reports=no

[FORMAT]
max-line-length=79
single-line-if-stmt=yes

[BASIC]
good-names=ex,Run,_,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,debug,invname,nargs,args

#
